<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta নাম="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://assets.codepen.io/344846/style.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"> --}}
  <link rel="stylesheet" href="/assets/css/main-menu.css">

 
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script>
    // compile the template
    var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
    // execute the compiled template and print the output to the console
    console.log(template({ doesWhat: "rocks!" }));
  </script>
  <style>
    
        .task {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .task:hover {
            transform: translateY(-5px);
        }

        

       .entryBox{
         font-weight: 550
         
       }
       {{!-- relative ring-2 ring-blue-500 focus:outline-noneblueBorder --}}
       
       .gg{
        background-color: wheat;
       }
      


       </style> 
       <link rel="stylesheet" href="/assets/css/data-show-style.css"><style>
        
       </style>
      
</head>

<body>

  <div class="app">


    <main class="project">

      <!-- navigation bar -->
      

      <div class="container">

        <nav class="main-nav">
          <img src="http://localhost:4000/assets/images/annada.jpeg" class="logo" />
          <ul class="main-menu">
            <li><a href="/studentInformation"  style="font-weight: 600">শিক্ষার্থীদের তথ্য</a></li>
            <li><a href="/bookDistributionInformation"  style="font-weight: 600">বই বিতরণী তথ্য</a></li>
            <li><a href="/bookReceivedInformation" style="font-weight: 600">প্রাপ্ত বইয়ের তথ্য</a></li>
            <li><a href="/logout"  style="font-weight: 600">লগ আউট</a></li>

          </ul>
        </nav>

      </div>

      <!-- student info row -->
      <div class="project-info">
        <h1>ছাত্র/ছাত্রীর তথ্য এন্ট্রি করুন:</h1>
      </div>
      
      <div class="project-tasks " >
        <div class="project-column std-info">

          {{#each people}}

          <a href="/student-entry/class/{{@index}}">
            <div class="task entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow">
              <div class="task__tags">
                <span class="task__tag task__tag--copyright">প্রাথমিক শ্রেণি</span>
              </div>
              <p class="entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow"> {{this}} শ্রেণি</p>
            </div>
          </a>

          {{/each}}

        </div>

      </div>

      <!-- class info row -->
      <div class="project-info">
        <h1>ছাত্র/ছাত্রীর বই বিতরণের তথ্য এন্ট্রি করুন:</Select></h1>
      </div>

      <div class="project-tasks ">
        <div class="project-column std-info">

          {{#each people}}

          <a href="/book-distribution-entry/class/{{@index}}">
            <div class="task entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow">
              <div class="task__tags">
                <span class="task__tag task__tag--copyright">প্রাথমিক শ্রেণি</span>
              </div>
              <p class="entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow"> {{this}} শ্রেণি</p>
            </div>
          </a>

          {{/each}}

        </div>

      </div>

      <!-- book info row -->
      <div class="project-info">
        <h1>উপজেলা শিক্ষা অফিস থেকে প্রাপ্ত বইয়ের তথ্য এন্ট্রি করুন:</h1>

      </div>
      <div class="project-tasks">
        <div class="project-column std-info">

          {{#each people}}

          <a href="/book-received-entry/class/{{@index}}">
            <div class="task entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow">
              <div class="task__tags">
                <span class="task__tag task__tag--copyright">প্রাথমিক শ্রেণি</span>
              </div>
              <p class="entryBox classBox bg-white p-3 w-full flex flex-col rounded-md shadow"> {{this}} শ্রেণি</p>
            </div>
          </a>

          {{/each}}

        </div>


    </main>

</body>

</html>